<section class="mx-2 p-3 card bg-white rounded-0">
    <div class="ms-3 d-flex justify-content-between align-items-center">
        <!-- <h2 class="ps-3" *ngIf="data">Edit Counsellor</h2> -->
        <h2 class="ps-3">Add Counsellor</h2>
        <!-- *ngIf="!data" -->
    </div>

    <form [formGroup]="addEditCounsellorForm">
        <!-- (ngSubmit)="onFormSubmit()" -->
        <div class="row justify-content-center my-5">
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">First name :</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput type="text" placeholder="Enter first name" formControlName="firstName">
                </mat-form-field>
            </div>

            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Last name :</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput type="text" placeholder="Enter last name" formControlName="lastName">
                </mat-form-field>
            </div>
    
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Phone No :</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput type="tel" placeholder="Enter phone no." formControlName="phoneNo">
                </mat-form-field>
            </div>
    
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Email ID :</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput type="text" placeholder="Enter username" formControlName="mailID">
                </mat-form-field>
            </div>
    
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Password :</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
                        required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>

            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Current City :</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput placeholder="Enter Current city" formControlName="currentCity"
                        required>
                </mat-form-field>
            </div>

            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Address :</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input type="text" matInput placeholder="Enter Address" formControlName="address"
                        required>
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="my-5">
            <div class="col-lg-5 col-md-12">
                <button mat-raised-button type="button" class="">Cancel</button>
            </div>
            <div class="col-lg-5 col-md-12">
                <button mat-raised-button color="primary" type="submit" class="float-lg-end">
                    <!-- {{data ? 'Update':'Save'}} --> Add Counsellor </button>    
            </div>
        </div>
    </form>
    
    <ng-template #successMsg>
        <div mat-dialog-title>
            <p *ngIf="success" style="opacity: 0.85; color: green;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
            <p *ngIf="err" style="opacity: 0.85; color: red;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
        </div>
    </ng-template>
</section>