<div class="ms-2 d-flex justify-content-between align-items-center">
    <h2 class="ps-3" *ngIf="data">Edit Student</h2>
    <h2 class="ps-3" *ngIf="!data">Add Student</h2>
</div>
<section class="mx-2 p-3 card bg-white rounded-0">
    

    <form [formGroup]="addEditStudentForm">
        <!-- (ngSubmit)="onFormSubmit()" -->
        <div class="ms-2 d-flex justify-content-between align-items-center my-2">
            <a class="text-bg-light p-2 text-decoration-none">
                <img src="assets/images/arrow_back.svg" alt="Back" height="20"/>Back
            </a>
        </div>

        <!-- PERSONAL DETAILS -->
        <div class="ms-2 d-flex justify-content-between align-items-center" *ngIf="personalDetails">
            <h2 class="ps-3">Personal Details</h2>
        </div>
        <div class="row" *ngIf="personalDetails">
            <div class="col-8 justify-content-center my-5">
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Full name :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <input matInput type="text" placeholder="Enter full name" formControlName="name">
                    </mat-form-field>
                </div>
    
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Date Of Birth :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <input matInput [matDatepicker]="pickerDOB" placeholder="Enter date of birth" formControlName="dob">
                        <mat-datepicker-toggle matSuffix [for]="pickerDOB"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDOB></mat-datepicker>
                    </mat-form-field>
                </div>
    
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Email ID :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <input matInput type="text" placeholder="Enter email" formControlName="email">
                    </mat-form-field>
                </div>
    
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Mobile No :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <input matInput type="tel" placeholder="Enter phone no." formControlName="phoneNo">
                    </mat-form-field>
                </div>
    
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Admission Date :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <input matInput [matDatepicker]="picker" placeholder="Enter date of birth" formControlName="admissionDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
    
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Parent Name :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <input matInput type="text" placeholder="Enter full name" formControlName="parentName">
                    </mat-form-field>
                </div>
    
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Parent Email ID :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <input matInput type="text" placeholder="Enter email" formControlName="parentMailId">
                    </mat-form-field>
                </div>
    
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Parent Mobile No :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <input matInput type="tel" placeholder="Enter phone no." formControlName="parentPhoneNo">
                    </mat-form-field>
                </div>
    
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Password :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
                            required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>
    
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Student Type</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <mat-label>Select Student Type</mat-label>
                        <mat-select formControlName="studentType">
                          <mat-option value="Internal">Internal Student</mat-option>
                          <mat-option value="External">External Student</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
    
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Current City :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <input matInput placeholder="Enter Current city" formControlName="currentCity">
                    </mat-form-field>
                </div>
    
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Counselor :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <input matInput placeholder="Enter Current city" formControlName="counsellor">
                    </mat-form-field>
                </div>
    
                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Address :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <input type="text" matInput placeholder="Enter Address" formControlName="address">
                    </mat-form-field>
                </div>
            </div>
            <!-- Image add edit part -->
            <div class="col-4 my-5 py-5">
                <div class="uploadBox d-flex align-items-center justify-content-center">
                    <div *ngIf="url" style="position:relative; overflow:none; display:inline-block;">
                        <div class="" style="position: absolute;">
                            <input type="file"  id="editImage" style="display: none;" (change)="onSelect($event)">
                            <label for="editImage">
                                <img src="assets/images/edit.svg" alt="edit image" height="50" width="350"/>
                            </label>
                        </div>
                        <div style="display: block;">
                            <img [src]="url" height="100%" width="100%" alt="profile image"/>
                        </div>
                    </div>
                    <div *ngIf="!url">
                        <input type="file"  id="image" style="display: none;" (change)="onSelect($event)">
                        <label for="image">
                            <img src="assets/images/plus.svg" alt="add image"/>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- EDUCATION DETAILS -->
        <div class="ms-2 d-flex justify-content-between align-items-center" *ngIf="educationDetails">
            <h2 class="ps-3">Education Details</h2>
        </div>
        <div class="row justify-content-center my-5" *ngIf="educationDetails">
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Segment :</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput type="text" placeholder="Enter segment" formControlName="segment">
                </mat-form-field>
            </div>

            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">School/College Name</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput type="tel" placeholder="Enter school or college name" formControlName="schoolOrCollege">
                </mat-form-field>
            </div>
    
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Grade</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput type="text" placeholder="Enter Grade" formControlName="grade">
                </mat-form-field>
            </div>
    
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Curriculum</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput placeholder="Enter curriculum" formControlName="curriculum"
                        required>
                </mat-form-field>
            </div>

            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Degree</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput placeholder="Enter degree" formControlName="degree"
                        required>
                </mat-form-field>
            </div>

            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Expected/Passed Out Year</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <input matInput placeholder="Enter expected or passed out year" formControlName="expectedOrPassedOutYear"
                        required>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions class="my-5">
            <div class="col-lg-5 col-md-12">
                <button mat-raised-button type="button" class="" (click)="adminService.openSection('students')">Cancel</button>
            </div>
            <div class="col-lg-5 col-md-12">
                <button mat-raised-button color="primary" class="float-lg-end" *ngIf="personalDetails || educationDetails" (click)="fillNext()">
                    Next </button>
                <!-- <button mat-raised-button color="primary" type="submit" class="float-lg-end" *ngIf="paymentDetails">
                    {{data ? 'Update Student':'Save Student'}} </button> -->
            </div>
        </div>
    </form>
    
    <ng-template #successMsg>
        <div mat-dialog-title>
            <p *ngIf="success" style="opacity: 0.85; color: green;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
            <p *ngIf="err" style="opacity: 0.85; color: red;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
        </div>
    </ng-template>
</section>