<section class="mx-2 p-3 card bg-white rounded-0">
    <div class="ms-3 d-flex align-items-center">
        <h2 class="ps-3" *ngIf="data">Edit Teacher</h2>
        <h2 class="ps-3" *ngIf="!data">Add Teacher</h2>
    </div>
    <form [formGroup]="addEditTeacherForm" (ngSubmit)="addEditTeacher()">
        <!-- PERSONAL DETAILS -->
        <div class="ms-2 d-flex justify-content-between align-items-center" *ngIf="personalDetails">
            <h2 class="ps-3">Personal Details</h2>
        </div>
        <div class="row">
            <div class="col-8 justify-content-center my-5" *ngIf="personalDetails">
                <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Full Name :</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <input matInput type="text" placeholder="Enter full name" formControlName="fullName">
                </mat-form-field>
                </div>
            
                <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Phone No :</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <input matInput type="tel" placeholder="Enter phone no." formControlName="phone">
                </mat-form-field>
                </div>
            
                <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Email ID :</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <input matInput type="text" placeholder="Enter username" formControlName="email">
                </mat-form-field>
                </div>
            
                <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Password :</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password"
                        required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
                </div>

                <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Employee Id :</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <input type="text" matInput placeholder="Enter Employee Id" formControlName="empId">
                </mat-form-field>
                </div>

                <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Employee Email :</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <input type="text" matInput placeholder="Enter Employee Email" formControlName="empEmail">
                </mat-form-field>
                </div>

                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Joined On :</mat-label>
                    <mat-form-field appearance="outline" class="col-10">
                        <input matInput [matDatepicker]="picker" placeholder="Enter joined on Date" formControlName="joinedOn">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Current City :</mat-label>
                    <mat-form-field appearance="outline" class="col-10">
                        <input type="text" matInput placeholder="Enter Current City" formControlName="currentCity">
                    </mat-form-field>
                </div>

                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Address :</mat-label>
                    <mat-form-field appearance="outline" class="col-10">
                        <input type="text" matInput placeholder="Enter address" formControlName="address">
                    </mat-form-field>
                </div>
            </div>
            <!-- Image add edit part -->
            <div class="col-4 my-5 py-5" *ngIf="personalDetails">
                <div class="uploadBox d-flex align-items-center justify-content-center">
                    <div *ngIf="url" style="position:relative; overflow:none; display:inline-block;">
                        <div class="" style="position: absolute;">
                            <input type="file"  id="editImage" style="display: none;" (change)="onSelect($event)">
                            <label for="editImage">
                                <img src="assets/images/edit.svg" alt="edit image" height="50" width="350"/>
                            </label>
                        </div>
                        <div style="display: block;">
                            <img [src]="url" height="100%" width="100%" alt="profile image"/>
                        </div>
                    </div>
                    <div *ngIf="!url">
                        <input type="file"  id="image" style="display: none;" (change)="onSelect($event)">
                        <label for="image">
                            <img src="assets/images/plus.svg" alt="add image"/>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngIf="courseDetails">
            <app-teacher-courses></app-teacher-courses>
        </ng-container>

        <div mat-dialog-actions class="my-5">
            <div class="col-lg-6 col-md-12">
                <button mat-raised-button type="button" class="" (click)="adminService.openSection('teachers')">Cancel</button>
            </div>
            <div class="col-lg-6 col-md-12">
                <button mat-raised-button color="primary" class="float-lg-end" *ngIf="personalDetails" (click)="fillNext()">
                    Next </button>
                <button mat-raised-button color="primary" type="submit" class="float-lg-end" *ngIf="courseDetails">
                    {{data ? 'Update Teacher':'Save Teacher'}} </button>
            </div>
        </div>
    </form>
    
    <!-- Success/Failure Message Popup -->
    <ng-template #successMsg>
        <div mat-dialog-title>
            <p *ngIf="success" style="opacity: 0.85; color: green;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
            <p *ngIf="err" style="opacity: 0.85; color: red;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
        </div>
    </ng-template>
</section>
