<section class="mx-2 p-3 card bg-white rounded-0">
    <div class="ms-3 d-flex align-items-center">
        <h2 class="ps-3" *ngIf="data">Edit Student</h2>
        <h2 class="ps-3" *ngIf="!data">Add Student</h2>
    </div>
    <form [formGroup]="addEditCourseCourseForm" (ngSubmit)="addEditTeacherCourse()">
        <!-- PERSONAL DETAILS -->
        <div class="ms-2 d-flex justify-content-between align-items-center" >
            <h2 class="ps-3" *ngIf="data">Edit Course</h2>
            <h2 class="ps-3" *ngIf="!data">Add Course</h2>        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Student ID</mat-label>
                <mat-form-field appearance="outline" class="col-8">
                    <mat-select formControlName="sID" placeholder="select Student ID">
                        <mat-option *ngFor="let item of studentData" [value]="item.sID">
                            <ng-container>
                                {{item.sID}}
                            </ng-container>
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Counselor Assign:</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <mat-select formControlName="cID" placeholder="Select Counsellor ID">
                            <mat-option *ngFor="let item of counsellorData" [value]="item.cID">
                                <ng-container>
                                    {{item.cID}}
                                </ng-container>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Course Assign :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <mat-select formControlName="courseID" placeholder="Select Assign Course">
                            <mat-option>Select Assign Course</mat-option>
                            <mat-option *ngFor="let item of subCourseData" [value]="item.subCourseID">
                                <ng-container>
                                    {{item.subCourseID}}
                                </ng-container>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-lg-6 row">
                    <mat-label class="col-12 pb-2 fs-4">Batch Assign :</mat-label>
                    <mat-form-field appearance="outline" class="col-8">
                        <mat-select formControlName="batchID" placeholder="Select Assign Course">
                            <mat-option>Select Assign Batch</mat-option>
                            <mat-option *ngFor="let item of batchData" [value]="item.batchID">
                                <ng-container>
                                    {{item.batchID}}
                                </ng-container>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
        </div>

        <div mat-dialog-actions class="my-5">
            <div class="col-lg-6 col-md-12">
                <button mat-raised-button type="button" class="" (click)="adminService.openSection('studentCourseDetails')">Cancel</button>
            </div>
            <div class="col-lg-6 col-md-12">
                <button mat-raised-button color="primary" type="submit" class="float-lg-end">
                    {{data ? 'Update Course':'Add Course'}} </button>
            </div>
        </div>
    </form>
    
    <!-- Success/Failure Message Popup -->
    <ng-template #successMsg>
        <div mat-dialog-title>
            <p *ngIf="success" style="opacity: 0.85; color: green;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
            <p *ngIf="err" style="opacity: 0.85; color: red;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
        </div>
    </ng-template>
</section>
