<section class="mx-2 p-3 card bg-white rounded-0">
    <div class="ms-3 d-flex justify-content-between align-items-center">
        <h2 class="ps-3" *ngIf="datas">Edit Course</h2>
        <h2 class="ps-3" *ngIf="!datas">Create Course</h2>
        <!-- *ngIf="!data" -->
    </div>

    <form [formGroup]="addEditCourseForm" (ngSubmit)="onFormSubmit()">
        <div class="row justify-content-center my-5">
        <div class="col-lg-6 row">
            <mat-label class="col-12 pb-2 fs-4">Select Segment</mat-label>
            <mat-form-field appearance="outline" class="col-8">
                <mat-label>Select Segment</mat-label>
                <mat-select formControlName="segment">
                    <mat-option *ngFor="let item of allSegmentData; let i=index" [value]="item?.segmentName">
                        <ng-container>
                            {{ item?.segmentName }}
                        </ng-container>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-6 row">
            <mat-label class="col-12 pb-2 fs-4">Course :</mat-label>
            <mat-form-field appearance="outline" class="col-8">
                <input matInput type="tel" placeholder="Enter course" formControlName="course">
            </mat-form-field>
        </div>

        <div class="col-lg-6 row">
            <mat-label class="col-12 pb-2 fs-4">Sub Course :</mat-label>
            <mat-form-field appearance="outline" class="col-8">
                <input matInput type="text" placeholder="Enter sub course" formControlName="subCourse">
            </mat-form-field>
        </div>

        <div class="col-lg-6 row">
            <mat-label class="col-12 pb-2 fs-4">Duration Of Course :</mat-label>
            <mat-form-field appearance="outline" class="col-8">
                <mat-label>Select Duration Of Course</mat-label>
                <mat-select formControlName="duration">
                    <mat-option value="1 Month">1 Month</mat-option>
                    <mat-option value="2 Month">2 Month</mat-option>
                    <mat-option value="3 Month">3 Month</mat-option>
                    <mat-option value="4 Month">4 Month</mat-option>
                    <mat-option value="5 Month">5 Month</mat-option>
                    <mat-option value="6 Month">6 Month</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-lg-12 row">
            <mat-label class="col-12 pb-2 fs-4">Description :</mat-label>
            <mat-form-field appearance="outline" class="col-10">
                <!-- <input matInput placeholder="Description" formControlName="description"> -->
                <textarea matInput  formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <div class="col-lg-6 row">
            <mat-label class="col-12 pb-2 fs-4">Current Price :</mat-label>
            <mat-form-field appearance="outline" class="col-8">
                <input matInput placeholder="Current Price" formControlName="currentPrice">
            </mat-form-field>
        </div>

        <div class="col-lg-6 row">
            <mat-label class="col-12 pb-2 fs-4">Discount Price :</mat-label>
            <mat-form-field appearance="outline" class="col-8">
                <input type="text" matInput placeholder="Discount Price" formControlName="discountPrice">
            </mat-form-field>
        </div>

        <div class="col-lg-6 row">
            <mat-label class="col-12 pb-2 fs-4">Discount Percentage :</mat-label>
            <mat-form-field appearance="outline" class="col-8">
                <input type="text" matInput placeholder="Discount Percentage" formControlName="discountPercentage">
            </mat-form-field>
        </div>

        <div class="col-lg-6 row">
            <mat-label class="col-12 pb-2 fs-4">Course ID :</mat-label>
            <mat-form-field appearance="outline" class="col-8">
                <input type="text" matInput placeholder="Course Id" formControlName="courseID">
            </mat-form-field>
        </div>
    </div>
        <!-- </div> -->
        <!-- <div mat-dialog-actions class="my-5">
            <div class=" col-md-12">
                <button mat-raised-button type="button" class=""
                    (click)="adminService.openSection('manageCourses')">Cancel</button>
            </div>
            <div class=" col-md-12">
                <button mat-raised-button color="primary" type="submit" class="float-lg-end">
                    {{data ? 'Update Course':'Create Course'}} </button>
            </div>
        </div> -->
        <div mat-dialog-actions class="my-5">
            <div class="col-lg-5 col-md-12">
                <button mat-raised-button type="button" class="" (click)="closeModal()">Cancel</button>
            </div>
            <div class="col-lg-5 col-md-12">
                <button mat-raised-button color="primary" type="submit" class="float-lg-end">
                    {{datas ? 'Update Course':'Create Course'}} </button>    
            </div>
        </div>

    </form>

    <ng-template #successMsg>
        <div mat-dialog-title>
            <p *ngIf="success" style="opacity: 0.85; color: green;"
                class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
            <p *ngIf="err" style="opacity: 0.85; color: red;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
        </div>
    </ng-template>
</section>