<section class="mx-2 p-3 card bg-white rounded-0">
    <div class="ms-2 d-flex justify-content-between align-items-center">
        <h2 class="ps-3">Students Details List</h2>
    </div>
    <div class="d-flex align-items-center justify-content-center my-4 mx-2 row">
        <div class="d-flex col-8">
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="StudentsSearchDateRange" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="StudentsSearchDateRange.controls.start.hasError('matStartDateInvalid')">Invalid
                    start date</mat-error>
                <mat-error *ngIf="StudentsSearchDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end
                    date</mat-error>
            </mat-form-field>
            <div class="m-3">
                <button type="submit" (click)="getDateRangeFilteredData()" mat-raised-button class="mx-2"
                    style="background-color: #313d9c; color: white;">Filter</button>
                <button type="submit" (click)="showAll()" mat-raised-button class="mx-2"
                    style="background-color: #313d9c; color: white;">Show All</button>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-end col-3">
            <span class="h4 m-2">Search </span>
            <input type="text" (keyup)="applySearchFilter($event)" class="border p-1 border-2" style="outline: none;">
        </div>
        <button mat-raised-button color="primary" class="col-1" (click)="ExportTOExcel()">
            <mat-icon class="fs-5">save_alt</mat-icon> Export
        </button>
    </div>
    <div class="mx-2 mb-4">
        <button class="customBtn btn btn-primary p-2 px-5 fs-4"> Add Student </button>
    </div>
    <!-- <div class="d-flex align-items-center justify-content-between my-5 mx-2" *ngIf="this.adminService.currentUser?.adminType == 'Super Admin'"> -->
    

    <mat-table [dataSource]="StudentsDataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="mailID">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mailID}} </mat-cell>
        </ng-container>
        <!-- Phone no. Column -->
        <ng-container matColumnDef="phoneNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phoneNo}} </mat-cell>
        </ng-container>
        <!-- Student Type Column -->
        <ng-container matColumnDef="studentType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Student Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.studentType}} </mat-cell>
        </ng-container>
        <!-- Created On Column -->
        <ng-container matColumnDef="createdOn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.createdOn | date:'medium'}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
                No data available to show.
            </mat-footer-cell>
        </ng-container>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':StudentsDataSource!=null}">
        </mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']"
            [ngClass]="{'hide':!(StudentsDataSource!=null && StudentsDataSource.data.length==0)}">
        </mat-footer-row>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
        aria-label="Students details page"></mat-paginator>
</section>