<section class="mx-2 p-3 card bg-white rounded-0">
    <div class="ms-2 mt-4 d-flex justify-content-between align-items-center">
        <h2 class="ps-3">Class Schedule</h2>
    </div>
    <div class="d-flex align-items-center row justify-content-between my-4 mx-2">
        <div class="col-8"></div>
        <div class="justify-content-end col-4">
            <span class="h4 m-2">Search </span>
            <input type="text" (keyup)="applyFilter($event)" class="border p-1 border-2" style="outline: none;">
        </div>
    </div>
    <mat-table #table [dataSource]="classDataSource" matSort>
        <!-- id Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
            <mat-cell *matCellDef="let element;let i = index;">
                <span ></span> {{i + 1}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <!-- startDate Column -->
        <ng-container matColumnDef="admissionDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Admission Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.admissionDate}} </mat-cell>
        </ng-container>
        <!-- preferredTimings Column -->
        <ng-container matColumnDef="preferredTimings">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Preferred Timings </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.preferredTimings}} </mat-cell>
        </ng-container>
        <!-- Batch Allocation Status Column -->
        <ng-container matColumnDef="batchAllocationStatus">
            <mat-header-cell *matHeaderCellDef> Batch Allocation Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.batchAllocationStatus}} </mat-cell>
        </ng-container>
        <!-- Allotted Timings Column -->
        <ng-container matColumnDef="allottedTimings">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Allotted Timings </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.allottedTimings}} </mat-cell>
        </ng-container>
        <!-- Assign Batch Column -->
        <ng-container matColumnDef="assignBatch">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Assign Batch </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.assignBatch}} </mat-cell>
        </ng-container>
        <!-- Allotted Timings Column -->
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
                No data available to show.
            </mat-footer-cell>
        </ng-container>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':classDataSource!=null}">
        </mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']"
            [ngClass]="{'hide':!(classDataSource!=null && classDataSource.data.length==0)}">
        </mat-footer-row>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <!-- Pagination -->
    <mat-paginator #adminPaginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
        aria-label="ClassSchedule details page"></mat-paginator>
</section>