<section class="overflow-hidden">
    <div class="row">
        <div class="col-sm-7 main-banner d-flex justify-content-center align-items-center">
            <!-- image -->
            <img src="assets/images/super-admin-login.svg" width="70%" alt="super admin logo">
        </div>
        <div class="col-sm-5 d-flex justify-content-center align-items-center">
            <div class="w-100 vh-100 text-white px-5" style="background-color:#313d9c ;">
                <!-- Logo -->
                <img src="assets/images/login-logo.svg" alt="Navigate BI logo"
                    class="col-5 img-fluid d-block m-auto pt-4 mt-4">

                <!-- Login From field-->
                <form [formGroup]="loginForm" class="mt-5 pt-4 d-grid col-10 mx-auto">
                    <div class="text-center p-1" *ngIf="appService.signOut" style="font-size: large;" id="hideMe">Signed
                        out Successfully</div>

                    <div class="mb-0">
                        <label class="pt-4 mb-2 fs-4">Email Id</label>
                        <!-- Email / UserName input filed -->
                        <mat-form-field>
                            <!-- <span class="bg-dark"><i _ngcontent-rag-c166=""
                                    class="d-flex bi bi-envelope-fill fs-6"></i></span> -->
                            <input matInput formControlName="email" autocomplete="off" class=""
                                placeholder="Email Id">
                            <mat-error *ngFor="let validation of validationErrorMessages.email">
                                <mat-error class=""
                                    *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">{{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <label class="pt-4 mb-2 fs-4">Password</label>
                        <!-- Password input filed -->
                        <mat-form-field>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="adminPassword"
                                autocomplete="off" class="" placeholder="Password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide" class="custom-icon">
                                <mat-icon class="">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngFor="let validation of validationErrorMessages.password">
                                <mat-error class=""
                                    *ngIf="loginForm.get('adminPassword').hasError(validation.type) && (loginForm.get('adminPassword').dirty || loginForm.get('adminPassword').touched)">{{validation.message}}
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="py-4">
                        <button type="submit" (click)="onLogin()"
                            class="btn cus-hover form-control fs-4 p-2">Login</button>
                    </div>

                    <div class="text-center p-1" *ngIf="!invalid && authenticating" style="font-size: large;">
                        Authenticating...</div>
                    <div class="text-center p-1" *ngIf="invalid" style="color: #f44336; font-size: large;" id="hideMe">
                        Invalid Credentials!</div>
                </form>
            </div>
        </div>
    </div>
</section>