<!-- COURSE DETAILS -->
<section class="mx-2 p-3 card bg-white rounded-0">
    <div class="ms-2 d-flex justify-content-between align-items-center">
        <h2 class="ps-3">Course Details</h2>
    </div>
    <div class="d-flex align-items-center justify-content-center my-4 mx-2 row">
        <!-- <div class="d-flex col-8">
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="TeachersSearchDateRange" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="TeachersSearchDateRange.controls.start.hasError('matStartDateInvalid')">Invalid
                    start date</mat-error>
                <mat-error *ngIf="TeachersSearchDateRange.controls.end.hasError('matEndDateInvalid')">Invalid end
                    date</mat-error>
            </mat-form-field>
            <div class="m-3">
                <button type="submit" (click)="getDateRangeFilteredData()" mat-raised-button class="mx-2"
                    style="background-color: #313d9c; color: white;">Filter</button>
                <button type="submit" (click)="showAll()" mat-raised-button class="mx-2"
                    style="background-color: #313d9c; color: white;">Show All</button>
            </div>
        </div> -->

        <div class="d-flex align-items-center justify-content-end col-12">
            <span class="h4 m-2">Search </span>
            <input type="text" (keyup)="applySearchFilter($event)" class="border p-1 border-2" style="outline: none;">
        </div>
    </div>

    <div class="mx-2 mb-4">
        <button class="customBtn btn btn-primary p-2 px-5 fs-4" (click)="adminService.openSection('addOrEditStudentCourses');"> Add Course </button>
    </div> 
    <mat-table [dataSource]="TeacherCourseDataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="sid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Student ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.sID}} </mat-cell>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="course">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Course Assign </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.courseID}} </mat-cell>
        </ng-container>
        <!-- Phone no. Column -->
        <ng-container matColumnDef="counsellor">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Consellor Assign </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cID}} </mat-cell>
        </ng-container>
        <!-- Student Type Column -->
        <ng-container matColumnDef="batch">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Batch Assign </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.batchID}} </mat-cell>
        </ng-container>
        <!-- edit/delete -->
        <ng-container matColumnDef="edit/delete" >
            <mat-header-cell *matHeaderCellDef> Edit/Delete </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ul class="list-unstyled p-2 px-3 mb-0">
                    <li>
                        <a class="d-flex text-decoration-none custom-icon"
                        (click)="adminService.editCounselorObj = element;adminService.openSection('addEditTeacherCourses');" style="cursor: pointer;">
                            <mat-icon class="fs-2 px-1 ">edit</mat-icon> Edit
                        </a>
                    </li>
                    <li *ngIf="element.email != this.adminService.currentUser.email">
                        <a class="d-flex text-decoration-none custom-icon" (click)="openDeleteTeacherCourseConfirm(element?.tID)" style="cursor:pointer;">
                            <mat-icon class="fs-2 px-1 ">delete_outline</mat-icon> Delete
                        </a>
                    </li>
                </ul>
            </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
                No data available to show.
            </mat-footer-cell>
        </ng-container>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':TeacherCourseDataSource!=null}">
        </mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']"
            [ngClass]="{'hide':!(TeacherCourseDataSource!=null && TeacherCourseDataSource.data.length==0)}">
        </mat-footer-row>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- Pagination -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
        aria-label="Students details page"></mat-paginator>

    <!-- <div mat-dialog-actions class="my-5">
        <div class="col-lg-5 col-md-12">
            <button mat-raised-button type="button" class="" (click)="adminService.openSection('addStudents')">Cancel</button>
        </div>
        <div class="col-lg-5 col-md-12">
            <button mat-raised-button color="primary" class="float-lg-end" (click)="adminService.openSection('studentPaymentDetails')">
                Next </button>
        </div>
    </div> -->
</section>

<ng-template #successMsg>
    <div mat-dialog-title>
        <p *ngIf="success" style="opacity: 0.85; color: green;"
            class="align-items-center justify-content-center fs-3 ml-4">{{appService.httpClientMsg}}</p>
        <p *ngIf="err" style="opacity: 0.85; color: red;" class="align-items-center justify-content-center fs-3 ml-4">
            {{appService.httpClientMsg}}</p>
    </div>
</ng-template>
<ng-template #deleteTeacherCourseConfirm>
    <div mat-dialog-title>
        <span>Delete Teacher?</span>
    </div>
    <hr/>
    <div mat-dialog-content>
        <p>
            Do you really want to delete the teacher?</p>
    </div>
    <hr/>
    <div mat-dialog-actions class="justify-content-between m-2">
        <button mat-button (click)="closeModal()">Cancel</button>
        <button style="color: black;" mat-button (click)="deleteTeacherCourse()" cdkFocusInitial>Ok</button>
    </div>
</ng-template>