<section class="mx-2 p-3 card bg-white rounded-0">
    <div class="ms-2 d-flex justify-content-between align-items-center">
        <h2 class="ps-3">Schedule Live Demo</h2>
    </div>
    <div class="mx-2 mb-4">
        <button class="customBtn btn btn-primary p-2 px-5 fs-4" (click)="adminService.openSection('scheduleLiveDemo');"> Schedule Live Demo </button>
    </div> 
    <div class="d-flex align-items-center justify-content-center my-4 mx-2 row">
        <div class="d-flex col-6">
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="InterviewSearchDateRange" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="InterviewSearchDateRange.controls.start.hasError('matStartDateInvalid')">Invalid
                    Start date</mat-error>
                <mat-error *ngIf="InterviewSearchDateRange.controls.end.hasError('matEndDateInvalid')">Invalid End
                    date</mat-error>
            </mat-form-field>
            <div class="m-3">
                <button type="submit" (click)="getDateRangeFilteredData()" mat-raised-button class="mx-2"
                    style="background-color: #313d9c; color: white;">Filter</button>
                <button type="submit" (click)="showAll()" mat-raised-button class="mx-2"
                    style="background-color: #313d9c; color: white;">Show All</button>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-end col-6">
            <!-- <span class="h4 m-2">Search </span>
            <input type="text" (keyup)="applySearchFilter($event)" class="border p-1 border-2" style="outline: none;"> -->
        </div>
    </div>

    <div class="row">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label class="">
              <div class="align-items-center col-2" (click)="tabSelected= !tabSelected">
                  <div class="fw-bold pb-2">Upcoming Demos</div>
              </div>
            </ng-template>
            <mat-table #table1 [dataSource]="liveDemoDataSource" matSort  #empTbSort="matSort" class="pt-5">
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
                    <mat-cell *matCellDef="let i=index"> {{i+1}} </mat-cell>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="student">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Student Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.demoname}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="studentMailID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Student Mail ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.democandidate}} </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="topic">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Topic </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.demotopic}} </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="hostMailID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Teacher ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.demotID}} </mat-cell>
                </ng-container>
                <!-- <ng-container matColumnDef="coHostMailID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Co-Host Mail ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.coHostMailID}} </mat-cell>
                </ng-container> -->
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Demo Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.demotodayDate | date:'dd/MM/yyyy'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="time">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.demoduration}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="meetingLink">
                    <mat-header-cell *matHeaderCellDef> Meeting Link </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <!-- <a [href]="element.jitsiUrl" class="d-none">
                            <button mat-raised-button color="primary" type="button">{{element.jitsiUrl}}</button>
                        </a>
                        <button [cdkCopyToClipboard]="element.jitsiUrl">Copy to clipboard</button> -->
                        <mat-icon role="button" class="white" color="primary"  [cdkCopyToClipboard]="element.jitsiUrl">filter_none</mat-icon>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
                        Loading data...
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
                        No data available to show.
                    </mat-footer-cell>
                </ng-container>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':liveDemoDataSource!=null}">
                </mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide':!(liveDemoDataSource!=null && liveDemoDataSource.data.length==0)}">
                </mat-footer-row>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <!-- Pagination -->
            <mat-paginator #paginatorFirst [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                aria-label="Upcoming details page"></mat-paginator>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <div class="align-items-center" (click)="tabSelected= !tabSelected">
                  <div class="fw-bold pb-2">Past Demos</div>
              </div>
            </ng-template>
            <mat-table #table2 [dataSource]="pastDemoDataSource" matSort #empTbSortWithObject="matSort" class="pt-5">
               <!-- ID Column -->
               <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
                <mat-cell *matCellDef="let i=index"> {{i+1}} </mat-cell>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="student">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Student Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.demoname}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="studentMailID">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Student Mail ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.democandidate}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="hostMailID">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Teacher ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.demotID}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Demo Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.demotodayDate | date:'dd/MM/yyyy'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.demoduration}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="meetingLink">
                <mat-header-cell *matHeaderCellDef> Meeting Link </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <mat-icon role="button" class="white" color="primary"  [cdkCopyToClipboard]="element.jitsiUrl">filter_none</mat-icon>
                </mat-cell>
            </ng-container>

                <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
                        Loading data...
                    </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="6" class="justify-content-center">
                        No data available to show.
                    </mat-footer-cell>
                </ng-container>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':pastDemoDataSource!=null}">
                </mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide':!(pastDemoDataSource!=null && pastDemoDataSource.data.length==0)}">
                </mat-footer-row>
                <mat-header-row *matHeaderRowDef="displayedColumnsWithObject"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsWithObject;"></mat-row>
            </mat-table>
            <!-- Pagination -->
            <mat-paginator  #paginatorSecond [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                aria-label="Past details page"></mat-paginator>
          </mat-tab>
        </mat-tab-group>
    </div>
</section>

<ng-template #successMsg>
    <div mat-dialog-title>
        <p *ngIf="success" style="opacity: 0.85; color: green;"
            class="align-items-center justify-content-center fs-3 ml-4">{{appService.httpClientMsg}}</p>
        <p *ngIf="err" style="opacity: 0.85; color: red;" class="align-items-center justify-content-center fs-3 ml-4">
            {{appService.httpClientMsg}}</p>
    </div>
</ng-template>