<mat-sidenav-container class="vh-100">
    <!-- side nav tabs -->
    <mat-sidenav #sidebar mode="side" opened="opened" class="border border-0">
        <div class="bg-white d-flex align-items-center justify-content-center p-2">
            <img src="assets/images/Edutech-logo.svg" width="65%" class="my-1" alt="Edutechex logo">
        </div>
        <!-- Tabs START -->
        <ul class="nav nav-pills nav-pills-bg-soft pt-4 flex-column p-2" id="course-pills-tab" role="tablist">
            <li class="nav-item mb-3">
                <a href="javascript: void(0)" (click)="adminService.openSection('dashboard');"
                    class="nav-link text-white d-flex align-items-center active" id="course-pills-tab-1"
                    data-bs-toggle="pill" data-bs-target="#course-pills-tabs-1" type="button" role="tab"
                    aria-controls="course-pills-tabs-1" aria-selected="true">
                    <mat-icon class="fs-2">dashboard</mat-icon>
                    <span class="ps-4 pb-1">Dashboard</span>
                </a>
            </li>

            <li class="nav-item mb-3">
                <a href="javascript: void(0)" (click)="adminService.openSection('userManagement');adminService.userManagement = !adminService.userManagement;"
                    class="nav-link text-white d-flex align-items-center" id="course-pills-tab-1" data-bs-toggle="pill"
                    data-bs-target="#course-pills-tabs-1" type="button" role="tab" aria-controls="course-pills-tabs-1"
                    aria-selected="false">
                    <mat-icon class="fs-2"> person_add</mat-icon>
                    <span class="ps-4 pb-1 col-10">User Management</span>
                    <mat-icon class="fs-2" *ngIf="!adminService.userManagement">arrow_right</mat-icon>
                    <mat-icon class="fs-2" *ngIf="adminService.userManagement">arrow_drop_down</mat-icon>
                </a>
            </li>

            <li class="nav-item mb-3" *ngIf="adminService.userManagement">
                <a href="javascript: void(0)" (click)="adminService.openSection('students');"
                class="nav-link text-white d-flex align-items-center" type="button" role="tab" data-bs-toggle="pill"
                id="admin-pills-tabs-1" aria-selected="false" data-bs-target="#course-pills-tabs-1">
                    <span class="ps-4 pb-1">Students</span>
                    <mat-icon class="fs-2 pt-1 ml-50p" *ngIf="adminService.students"> chevron_right </mat-icon>
                </a>
            </li>

            <li class="nav-item mb-3" *ngIf="adminService.userManagement">
                <a href="javascript: void(0)" (click)="adminService.openSection('teachers');"
                        class="nav-link text-white d-flex align-items-center" id="course-pills-tab-1" data-bs-toggle="pill"
                        data-bs-target="#course-pills-tabs-1" type="button" role="tab" aria-controls="course-pills-tabs-1"
                        aria-selected="true">
                    <span class="ps-4 pb-1">Teachers</span>
                    <mat-icon class="fs-2 pt-1 ml-50p" *ngIf="adminService.teachers"> chevron_right </mat-icon>
                </a>
            </li>

            <li class="nav-item mb-3" *ngIf="adminService.userManagement">
                <a href="javascript: void(0)" (click)="adminService.openSection('counsellors');"
                class="nav-link text-white d-flex align-items-center" type="button" role="tab" data-bs-toggle="pill"
                id="admin-pills-tabs-1" aria-selected="true" data-bs-target="#course-pills-tabs-1">
                    <span class="ps-4 pb-1">Counsellors</span>
                    <mat-icon class="fs-2 pt-1 ml-50p" *ngIf="adminService.counsellors"> chevron_right </mat-icon>
                </a>
            </li>

            <li class="nav-item mb-3">
                <a href="javascript: void(0)" (click)="adminService.openSection('settings');"
                class="nav-link text-white d-flex align-items-center" type="button" role="tab" data-bs-toggle="pill"
                id="admin-pills-tabs-1" aria-selected="true" data-bs-target="#course-pills-tabs-1">
                    <mat-icon class="fs-2"> settings </mat-icon>
                    <span class="ps-4 pb-1">Settings</span>
                </a>
            </li>
        </ul>
        <!-- Tabs END -->
    </mat-sidenav>
    <mat-sidenav-content class="sticky-top">
        <!-- nav header -->
        <div class="content">
            <div class="bg-white p-2 shadow-sm p-3 mb-3 bg-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                        <span class="ps-3 pt-1 fs-3">{{this.adminService.currentUser?.adminType}}</span>
                    </div>
                    <span class="fw-bold">
                        <a href="javascript: void(0)" (click)="signout();" type="button" role="tab"
                            aria-controls="course-pills-tabs-1" aria-selected="false"
                            class="text-decoration-none d-flex align-items-center" id="course-pills-tab-1"
                            data-bs-toggle="pill" data-bs-target="#course-pills-tabs-1">
                            <mat-icon class="fs-1 px-1">power_settings_new</mat-icon>
                            <span *ngIf="this.adminService.currentUser?.adminType">Sign Out</span>
                            <span *ngIf="!this.adminService.currentUser?.adminType">Sign In</span>
                        </a>
                    </span>
                </div>
            </div>
            <div style="height: 83vh">
                <div *ngIf="adminService.dashboard" class="mx-2 p-3 card bg-white rounded-0">
                    <app-dashboard></app-dashboard>
                </div>
                <div *ngIf="adminService.students">
                    <app-students></app-students>
                </div>
                <div *ngIf="adminService.teachers">
                    <app-teachers></app-teachers>
                </div>
                <div *ngIf="adminService.counsellors">
                    <app-counsellors></app-counsellors>
                </div>
                <div *ngIf="adminService.addStudents">
                    <app-add-or-edit-student></app-add-or-edit-student>
                </div>
                <div *ngIf="adminService.addTeachers">
                    <app-add-or-edit-teacher></app-add-or-edit-teacher>
                </div>
                <div *ngIf="adminService.addCounsellors">
                    <app-add-or-edit-counsellor></app-add-or-edit-counsellor>
                </div>
                <div *ngIf="adminService.settings">
                    <app-settings></app-settings>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>