<section class="mx-2 p-3 card bg-white rounded-0">
    <div class="ms-3 d-flex align-items-center">
        <h2 class="ps-3" *ngIf="data">Edit Student</h2>
        <h2 class="ps-3" *ngIf="!data">Add Student</h2>
    </div>
    <form [formGroup]="addEditTeacherCourseForm" (ngSubmit)="addEditTeacherCourse()">
        <!-- PAYMENT DETAILS -->
        <div class="ms-2 d-flex justify-content-between align-items-center" >
            <h2 class="ps-3" *ngIf="data">Edit Payment</h2>
            <h2 class="ps-3" *ngIf="!data">Add Payment</h2>        
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Total Fee</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <input type="text" matInput formControlName="totalFee" placeholder="Total Fee">
                  </mat-form-field>
            </div>
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Amount Paid</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <input type="text" matInput formControlName="amountPaid" placeholder="Amount Paid">
                  </mat-form-field>
            </div>
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Paid On</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <input matInput [matDatepicker]="picker" placeholder="paid on" formControlName="paidOn">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>

            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Payment Method</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <mat-select formControlName="paymentMethod" placeholder="selct payment method">
                      <mat-option  value="Online">Online</mat-option>
                      <mat-option  value="Offline (Cash)">Offline (Cash)</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Payment Type</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <mat-select formControlName="paymentType" placeholder="selct payment type">
                      <mat-option  value="One Time Payment">One Time Payment</mat-option>
                      <mat-option  value="Installment">Installment</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Due Date</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <input matInput [matDatepicker]="picker1" placeholder="Enter Date" formControlName="dueDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            </div>

            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Due Amount</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <input type="text" matInput formControlName="dueAmount" placeholder="due amount">
                  </mat-form-field>
            </div>

            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Comments</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <input type="text" matInput formControlName="comment" placeholder="comments">
                  </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions class="my-5">
            <div class="col-lg-6 col-md-12">
                <button mat-raised-button type="button" class="" (click)="adminService.openSection('studentPaymentDetails')">Cancel</button>
            </div>
            <div class="col-lg-6 col-md-12">
                <button mat-raised-button color="primary" type="submit" class="float-lg-end">
                    {{data ? 'Update Payment':'Add Payment'}} </button>
            </div>
        </div>
    </form>
    
    <!-- Success/Failure Message Popup -->
    <ng-template #successMsg>
        <div mat-dialog-title>
            <p *ngIf="success" style="opacity: 0.85; color: green;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
            <p *ngIf="err" style="opacity: 0.85; color: red;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
        </div>
    </ng-template>
</section>
