<section class="mx-2 p-3 card bg-white rounded-0">
    <div class="ms-3 d-flex align-items-center">
        <h2 class="ps-3" *ngIf="data">Edit Student</h2>
        <h2 class="ps-3" *ngIf="!data">Add Student</h2>
    </div>
    <form [formGroup]="addEditTeacherCourseForm" (ngSubmit)="addEditTeacherCourse()">
        <!-- PAYMENT DETAILS -->
        <div class="ms-2 d-flex justify-content-between align-items-center" >
            <h2 class="ps-3" *ngIf="data">Edit Payment</h2>
            <h2 class="ps-3" *ngIf="!data">Add Payment</h2>        
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Segment</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <mat-label>Select Segment</mat-label>
                    <mat-select formControlName="segment">
                      <mat-option *ngFor="let element of adminService.segmentsList" value="element.title">{{element?.title}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Course</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <mat-label>Select Course</mat-label>
                    <mat-select formControlName="course">
                      <mat-option *ngFor="let element of adminService.coursesList" value="element.course">
                        <span *ngIf="(element?.segment == addEditTeacherCourseForm.controls['segment'].value) || (element?.segment == '')">{{element.course}}</span>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Sub Course</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <mat-label>Select Sub Course</mat-label>
                    <mat-select formControlName="subCourse">
                      <mat-option *ngFor="let element of adminService.coursesList" value="element.subCourse">{{element.subCourse}}</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col-lg-6 row">
                <mat-label class="col-12 pb-2 fs-4">Subject :</mat-label>
                <mat-form-field appearance="outline" class="col-10">
                    <mat-label>Select Subject</mat-label>
                    <mat-select formControlName="subject">
                      <mat-option *ngFor="let element of adminService.subjectsList" value="element?.subject">{{element?.subject}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions class="my-5">
            <div class="col-lg-6 col-md-12">
                <button mat-raised-button type="button" class="" (click)="adminService.openSection('studentPaymentDetails')">Cancel</button>
            </div>
            <div class="col-lg-6 col-md-12">
                <button mat-raised-button color="primary" type="submit" class="float-lg-end">
                    {{data ? 'Update Payment':'Add Payment'}} </button>
            </div>
        </div>
    </form>
    
    <!-- Success/Failure Message Popup -->
    <ng-template #successMsg>
        <div mat-dialog-title>
            <p *ngIf="success" style="opacity: 0.85; color: green;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
            <p *ngIf="err" style="opacity: 0.85; color: red;" class="align-items-center justify-content-center fs-3">
                {{appService.httpClientMsg}}</p>
        </div>
    </ng-template>
</section>
